<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href='/css/styles.css' />
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="help-message">{{message}}</p>
        </div>

        {{>footer}}
    </body>
</html>