<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href='/css/styles.css' />

        <title>{{pageTitle}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <div class="form-container">
                <form>
                    <div class="form-control">
                        {{!-- <label for="location">Location</label> --}}
                        <input name='location' placeholder="location" />
                    </div>
                    <div class="form-submit-container">
                        <button>Search</button>
                    </div>
                </form>
            </div>

            <h2 class='summary'></h2>
            <p class='detail'></p>

        </div>

        {{>footer}}

        {{!-- scripts  --}}
        <script src='/js/app.js'></script>
    </body>
</html>