* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #ddd;
    color: #aaa;
    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
}

header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 64px;
}

header a {
    color: #888;
    margin-right: 1rem;
    text-decoration: none;
}

header a:hover {
    color: #444;
}

.form-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control {
    /* border: 1px solid purple; */
    display: block;
    width: 100%;
}

.form-submit-container {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;
}

input {
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid #aaa;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    padding: 0.7rem 0.9rem;
    margin-bottom: 1rem;
}

button {
    border-radius: 1rem;
    height: 2rem;
    width: 100px;
    color: white;
    background-color: rgb(26, 121, 168);

    border: 1px solid rgb(1, 75, 112);
}

button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(1, 95, 142);
    box-shadow: 1px 4px 15px rgb(201, 219, 224);
    /* border: 1px solid rgb(138, 221, 238); */
    /* color: white; */
}

.summary {
    text-align: center;
    color: #333;
}

.detail {
    text-align: center;
}

.help-message {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.portrait {
    width: 350;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.footer-text {
    font-size: small;
}
